* {
	box-sizing: border-box;
}

body {
	background-color: #f3f3f3;
	font-family: 'Roboto', sans-serif;
}

.register-name {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 10;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-name img:nth-child(1) {
	width: 130px;
	height: 92px;
	margin-top: 72px;
	margin-bottom: 94px;
}

.register-name input {
	width: 261px;
	height: 54px;
	border-radius: 4px;
	border: 1px solid #D7D7D7;
	font-size: 18px;
	text-align: center;
	outline: none;
}

.register-name input::placeholder {
	color: #AEAEAE;
}

.register-name button {
	margin-top: 15px;
	width: 109px;
	height: 45px;
	border-radius: 9px;
	border: none;
	font-size: 18px;
	color: #696969;
}

.top-menu {
	width: 100%;
	height: 80px;
	background-color: #ffffff;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}

.top-menu ion-icon {
	font-size: 45px;
	margin-right: 21px;
}

.top-menu img {
	margin-left: 22px;
}

.messages {
	width: 100%;
	margin-top: 106px;
	margin-bottom: 96px;
	border-radius: 2px;
}

.message {
	padding: 15px 7px;
	font-size: 14px;
	margin: 4px 0px;
	background-color: #dcdcdc;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}

.message span {
	color: #aaaaaa;
}

strong {
	font-weight: 700;
}

.red {
	background-color: #ffdede;
}

.white {
	background-color: #ffffff;
}

.bottom-menu {
	width: 100%;
	height: 80px;
	background-color: #ffffff;
	position: fixed;
	bottom: 0;
	left: 0;
	box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom-menu input {
	height: 30px;
	margin-left: 17px;
	border: none;
	font-size: 18px;
	color: #000000;
	outline: none;
}

.bottom-menu input::placeholder {
	font-style: italic;
	color: #000000;
}

.bottom-menu ion-icon {
	font-size: 26px;
	margin-right: 18px;
}

.hidden {
	display: none;
}